body {
    color: #353535;
}

.nav-item img{
    margin-top: 8px;
}

.btn-group{
    width: 150%;
}

.tab-btn {
    width: 50%;
}

.container-section{
    min-height: 100%;
    min-height: 100vh;
    padding-top: 8vh;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #efefef;
}

@media screen and (max-width: 991px){
    nav.ml-auto {
        margin-top: -31px;
    }

    .container-section{
        padding-left: 25px;
        padding-right: 25px;
    }

    .btn-salir{
        float: right;
        margin-right: 22px;
    }
}

@media (min-width: 768px) {
    .navbar-right {
        margin-right: 15px !important;
    }
}

.btn-group{
    width: 100%;
}

.btn-ab{
    margin-bottom: 10px;
}

.table{
    background-color: white;
    border-radius: 4px;
}

.thead-dark{
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
    border-radius: 3pxl
}
