body {
    color: #353535;
    background-color: #E9EBEE;
}

.btn-group{
    width: 150%;
}

.tab-btn {
    width: 50%;
}

.container-section{
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 50px;
}

@media screen and (max-width: 991px){
    nav.ml-auto {
        margin-top: -31px;
    }

    .container-section{
        padding: 3px;
    }
}

.table{
    background-color: white;
    border-radius: 10px;
}

.thead-dark{
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
    border-radius: 3px;
}
